.jumbotron {
    background-color: rgb(255, 228, 72);
    color: black;
    margin-top: 50px;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 217, 0);
    margin-bottom: 0px;
    margin-top: 100px;
}

.card-hotel {
    flex: 1 100px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.banner{
    width: 100%;
    height: 250px;

}